<% provide(:title, "") %>

<% if logged_in? %>
    <div class="post-form-container">
      <div class="form-group blog-post">
        <textarea id="post-content" class="form-control" placeholder="投稿内容（〇〇文字以内）"></textarea>
        <button type="button" class="btn btn-primary">投稿</button>
      </div>       
    </div>
    <div class="panel panel-primary">
    	<div class="panel-heading">
    		ブログ一覧
    	</div>
    	<div class="panel-body">
    		ああああああ
    	</div>
    </div>
<% else %>

<%= render 'shared/login_form' %>

<% end %>