<% provide(:title, "") %>

<%= link_to "新規登録", signup_path, class: "btn btn-lg btn-primary" %>

<div class="post-form-container">
  <div class="form-group blog-post">
    〇〇さん
    <textarea id="post-content" class="form-control" placeholder="投稿内容（〇〇文字以内）"></textarea>
    <button type="button" class="btn btn-primary">投稿</button>
  </div>       
</div>
<div class="panel panel-primary">
	<div class="panel-heading">
		ブログ一覧
	</div>
	<div class="panel-body">
		ああああああ
	</div>
</div>
